site_name: Dataflow Pipeline Editor
site_url: ""
theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: true

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.superfences

nav:
  - Home: index.md
  - API:
      - Executor: api/executor.md
      - Graph: api/graph.md
